/* Reset CSS by Amaka Ndukwu */

/* making use of :where to allow for low specificity making it easy to override */


/* 1. border-box for box model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. remove default margin 
padding is optional but i do this because of lists*/

:where(:not(dialog)) {
    margin: 0;
    padding: 0;
}


/* 3. great for in-page linking */
@media(prefers-reduced-motion:no-preference) {
    :where(html) {
        scroll-behavior: smooth;
    }
}

/* 4. line height and text rendering improvement */
:where(html) {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* 5. ensure full viewport height */
:where(html, body) {
    min-block-size: 100%;
}

/* 6. improve line wrapping */
:where(h1, h2, h3,
    h4, h5, h6) {
    text-wrap: balance;
}

:where(p) {
    text-wrap: pretty;
}

:where(figure)>:where(figcaption) {
    text-wrap: balance;
}

:where(p, h1, h2, h3,
    h4, h5, h6) {
    overflow-wrap: break-word;
}



/* 7. making media elements block-level */
:where(img,
    svg,
    video,
    canvas,
    picture,
    audio,
    iframe,
    embed,
    object) {
    display: block
}

:where(img, svg, video, canvas, picture) {
    block-size: auto;
    max-inline-size: 100%
}

/* 8. inherit font and letter spacing for form controls */
:where(input,
    button,
    textarea,
    select),
:where(input[type=file])::-webkit-file-upload-button {
    font: inherit;
    letter-spacing: inherit
}

/* 9. textarea can only resized vertically and will grow to adjust its content */
:where(textarea) {
    resize: vertical;
   field-sizing: content;
}

/* 10. table */
:where(table) {
    width: fit-content;
    border-collapse: collapse;
}

:where(pre) {
    direction: ltr;
    max-inline-size: max-content;
    min-inline-size: 0;
    white-space: pre;
    writing-mode: lr
}

:where(a[href],
    area,
    button,
    input:not([type=text],
        [type=email],
        [type=number],
        [type=password],
        [type=""],
        [type=tel],
        [type=url]),
    label[for],
    select,
    summary,
    [tabindex]:not([tabindex*="-"],
        pre)) {
    cursor: pointer
}

/*  this will disable additional non-standard gestures such as double-tap to zoom*/
:where(a[href],
    area,
    button,
    input,
    label[for],
    select,
    summary,
    textarea,
    [tabindex]:not([tabindex*="-"])) {
    touch-action: manipulation
}

/* My styles */
body {
  font-family: "Oswald", sans-serif;
  background-color: #f9feff;
  color: #4c4d5f;
  line-height: 1.6;
}

.logo {
  width: 70px;
  margin: 0;
  padding: 0;
  align-self: flex-start;
}

.spacer{
    align-items: center;
}

.navbar {
    display: flex; 
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 70px;
    /* z-index: 1000; */
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  alignment: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #00b289;
  padding: 14px 16px;
  background: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 255, 255);
    color: #181818;

}

navbar.sticky {
    position: sticky;
    top: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float:none;
  color:black;
  padding:12px 16px;
  text-decoration: none;
  display: block;
  text-align:left;
} 

.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* button {
  background-color: #00b289;
  color: white;
  padding: 5px 15px;
  align-self: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
} */

.sign-up {
    background-color: #00b289;
    color: #ffffff;
    padding: 8px 20px;
    align-self: center;
    border: 2px solid #00b289;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
  
}

.login {
    background-color: #ffffff;
    color: #00b289;
    padding: 6px 40px;
    align-self: center;
    border: 2px solid #00b289;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
}

main {
  padding: 60px 80px 20px 80px;
}

.switch {
    position:relative;
    display:inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity :0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color: #ccc;
    -webikit-transition: .4s;
    transition:.4s;
}

.slider:before {
    position : absolute;
    content: "";
    height: 26px;
    width:26px;
    left:4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translatex (26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round: {
    border-radius:34px;
}
.slider.round:before {
    border-radius: 50%;
}
